body {
  
  margin: 0;
  font-family: "Roboto", Open Sans, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  
  width: 1200px;
  height: 2416px;
  background-color: #849d8f;
  background-position: top center;
}

  a:link {
  text-decoration: none;
	}