/*Глобальные*/
  body
  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Open Sans, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700px;
  color: #ffffff;
  text-decoration: none;
  background-color: #849d8f;
  background-position: 0 0;
{
  list-style:none;
  background:#87a092;
}
}

ul {
  list-style: none;
}

/*Навигация*/
.navigation-item {
  display: inline-block;
  position: relative;
  z-index: 12;
}

.navigation-item > a {  
  display: inline-block;
  color:#ffffff;
  text-decoration:none;
  background: transparent;
  border-radius: 15px;  
  padding: 7px 15px;
  margin-bottom:5px;
  z-index: 12;
  }

.navigation-item > a:hover {
    background: #f7f6f3;
    color: #323232;
    text-decoration:none;
      }
.navigation-item > a:focus {
  background: #d07058;
  color: #323232;
  text-decoration:none;
  font-weight:700;
  }

.navigation-item.current-item > a {  
  border-radius: 15px;
  background: #ffffff;
  color: #323232;
  font-weight: 700;
}

.sub-menu {  
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 130px;
  background: #f8f7f4;
  border-radius: 3px;
  padding: 8px 5px 8px 22px;
  white-space: normal;
  box-shadow:0 20px 20px(rgba 0,0,0,0.4);
  padding: 0;
  margin: 0;
}

.navigate {
  padding: 5px 10px;
  white-space: nowrap;
  z-index: 12;
}

.sub-menu a {
  text-decoration:none;
  color: #323232;
  font-size:14px;
  line-height:24px;
  z-index: 12;
}

.sub-item-current {
  font-weight: 700;
  border-bottom: 1px solid #999999;
  z-index: 12;
}

li.navigate:hover {
 background: #fbded7;
 border-radius: 3px;
  
}
li.navigate:focus {
 background: #f6b5a5;
 border-radius: 3px;
}

li.navigate:active {
 background: #li.navigate:focus {
 background: #f6b5a5;
 border-radius: 3px;
};
 border-radius: 3px;
}
.sub-menu a:focus{
 background: #f6b5a5; 
}
.navigation-item:hover > .sub-menu {
  display: block;
}

p.work-time{
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
  text-decoration: none;
}

p.telefone-number {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
  text-decoration: none;

}
.telefone-number{
  margin-top: -5px; 
}
/*Формы индекса*/
/*.user-form,
.search-form
.subscribe-form{
  list-style: none; 
}

.user-form input[type="email"],
.user-form input[type="password"]
{
  font-size: 12px;
  font-weight: 400px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #999999;
  background: #ffffff;
}

.search-form input[type="text"]
{
  font-size: 12px;
  font-weight: 400px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #999999;
  background:#ffffff
   }
.modal {
  position: fixed;}
.modal {
  color: #;
  background-color: #f8f7f4;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.4);}

.search-form{
  top: 60px;
  left: 50%;
  width: 342px;
  padding: 10px 5px 5px ;
  padding-left:3px;
  margin-left:10px;
  border-radius:5px;
  box-sizing: border-box;
  z-index: 10;
}

.search-form p {
  margin: 0;
  margin-bottom: 10px;
  }

.search-form input[type="text"]
{ box-sizing: border-box;
  width: 310px;
  border-radius:5px;
  padding: 0px 0px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  } 
.user-form{
  top: 60px;
  min-height: 215px;
  left: 770px;
  width: 280px;
  padding: 5px 10px;
  padding-left:5px;
  border-radius:5px;
  box-sizing: border-box;
  z-index: 11;
}
.user-form input[type="email"],
.user-form input[type="password"]
{ color: #;
  box-sizing: border-box;
  width: 230px;
  border-radius:5px;
  padding: 7px 10px;
  margin-left:22px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  }

.search-form input[type="text"]
{ box-sizing: border-box;
  width: 311px;
  border-radius:5px;
  padding: 10px 10px;
  background-color: #f9f6f3;
  border: 1px solid #d3d3d2;
  }

.search-form p {
  margin: 0;
  margin-bottom: 10px;
  }
  /*Кнопка в логин-форме*/ 
/*.login-btn{
  color: #ffffff;
  background-color: #ef5f3f;
  width: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 22px;
  padding: 10px;
  border-radius: 50px;
  border: 0;
}

.form-link{
    list-style: none;
   }

a.form-link{
  color:#323232; 
  font-size: 13px;
  font-weight: 400px;
  line-height: 24px;
  text-transform: none;
  }
.subscribe-form input[type="text"],
.subscribe-form input[type="email"]
{
  font-size: 12px;
  font-weight: 400px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #999999;
  background: #ffffff;
}
/* Визуально спрятанные элементы*/

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Корзина*/

.cart-item-link,
.сart-item-wrapper{
  list-style: none;
}

.cart-item-wrapper a{
  font-weight: 400px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  text-decoration:none;
}
a.cart-item-link {
  font-weight: 400px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  text-decoration:none; 
}

td{
  font-weight: 400px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  text-decoration: none; 
}

/* Фильтры */
.filters{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.filters fieldset{
  border: none;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid #a9bbb1;
  text-decoration: none;
}


p.slide-title-1{
  display: block;
  position: relative;
}
p.slide-title-2,.slide-title-3 {
  display: none;
}
/*select {
  background: #a9bab0;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
}*/


/*Хлебные крошки*/
.breadcrumbs {
  list-style: none;
}
.breadcrumbs a {
font-size: 14px;
line-height: 16px;
font-weight: 400;
color: #ffffff;
text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus
 {
  text-decoration: underline;
  color: #f4aca2;
}
.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400px;
  color: #ffffff;
  text-decoration: none;
}

/*Пагинация*/

/* Не сработало, не применился шрифт и цвет к 1*/
.pagination {
  list-style: none;
}
.pagination-item {
  background-color: #849d8f;
  color: #ffffff;
  text-decoration: none;
}
.pagination-item: hover,
.pagination-item: focus,
.pagination-item: active {
background: #ffffff;
color: #323232;
}
a.pagination-item.pagination-item-current {
background-color:#ffffff;
color: #323232;
}
/*Хиты*/

.hits{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  z-index: 15;
 }
 .hits-preview{
  align-content: center;
  padding-left: 20px; 
 }
 .ice-cream img {
  width: 100%;
 }
.products a{
  list-style: none;
}
.products a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  text-align: left;
}
.item-price{
  list-style: none;
}
p.item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700px;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
}
.hits-price{
  list-style: none;
}
.hits-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700px;
  color: #ffffff;
  background-color: transparent;
}

a.btn-banner,
a.btn-slide{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700px;
  color: #ffffff;
  background-color: transparent;
  text-align: center; 
  text-decoration: none;
}
a.hits-title{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700px;
  color: #ffffff;
  background-color: transparent;
  text-align: center; 
  text-decoration: none;  
}
.shop-description{
  list-style: none;
}
.shop-description h1{
  font-size: 24px;
  line-height: 30px;
  font-weight: medium;
  color: #323232;
  background-color: transparent;
  text-align: left; 
  text-decoration: none;  
}
.shop-description ul{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400px;
  color: #323232;
  background-color: transparent;
  text-align: left; 
  text-decoration: none;  
}
.blog-desctiption{
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #323232;
  background-color: transparent;
  text-align: left; 
  text-decoration: none;  
}
a.blog-last-news{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  background-color: transparent;
  text-align: left; 
  text-decoration: underline;  
}
a.blog-last-news{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  background-color: transparent;
  text-align: left; 
  text-decoration: underline;  
}
p.subscribe-form{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400px;
  color: #5a5a5a;
  background-color: transparent;
  text-align: left; 
  text-decoration: none; 
}
.map-description{
  list-style: none;
}
p.office-title{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400px;
  color: #323232;
  background-color: transparent;
  text-align: left; 
  text-decoration: none; 
}
p.office-address{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  background-color: transparent;
  text-align: left; 
  text-decoration: none; 
}

/*Футер*/
.social-block{
list-style: none;
}
.social-block a{
  color: #ffffff;
  background-color: ##849d8f;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400px;
  text-decoration: none;
  text-align: center;
}
.bottom-navigation{
  list-style: none;
}
a.bottom-navigation{
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400px;
  background-color: ##849d8f;
  text-align: left;
  text-decoration: none;
}
a.bottom-navigation : hover,
a.bottom-navigation : focus,
a.bottom-navigation : active{
  background-color: #f17e64;
}

a.author-link {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400px;
  background-color: ##849d8f;
  text-decoration: none;
}
p.for-orders{
  color: #323232;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
  text-decoration: none;
}

a.btn-feedback{
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
}
/*Кнопки*/
.btn{
  list-style: none;
}

.main-header {
  display: flex;
  margin: auto;
  width: 70%;
  flex-wrap: wrap; /*перенос строки */
  justify-content: space-between; /*прижимает содержимое к краям */
  align-items: center; /*выравнивает элементы по центру на вертикальной */
  background: transparent;
  z-index: 99;
}

.user-block{
  display: flex;
  
  min-width: 240px;
  justify-content: space-around;
}

nav {
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
 }

.login-button
 {
  position: relative;
  background-color: transparent;
  display: flex;
} 
.main-header-logo {
  position: relative;
  display: flex;
  
  padding-left: 0px;/*пока*/
}
.contacts{
background: transparent; 
display: flex;
width: 70%;
margin: 0 auto;
flex-direction: column;
flex-wrap: wrap; 
justify-content: flex-end;

}
p.phone-number{
  color: #323232;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;
  background: transparent; 
  }

p.time-work{
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400px;
  text-decoration: none;
  background: transparent; 
  

}
.phone-number,
.time-work {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #fff; 
}

.phone-number{
 height: auto; 
}

.banner-columns{
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin: 0 auto;
  z-index: 15;
}
.banner-raspberry,
.banner-chocolate
{
  width: 560px;
  height: 230px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #fff;
}
.banner-chocolate{
  margin-left: 50px;
}

div.banner-chocolate {
    background-image: url("..img/index.html/chocolate.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background: #9b2a4a;
    border-radius: 10px;
    }
div.banner-raspberry {
    background-image: url("..img/index.html/raspberry.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background: #9b2a4a;
    border-radius: 10px;
    }
/* background не отобразился ПОЧЕМУ-то*/


.shop-description{
  display: flex;
  width: 1146px;
  text-align: center;
  margin: auto;
}
.description-list{
  display: flex;
  list-style: none;
  width: 1200px;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap; 

}
.items{
  width: 500px;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.news-block{
  display: flex;
  width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  justify-content:space-around;
}

.article,
.newsletter-wrapper {
  width: 560px;
  height: 220px;
  margin-top: 20px;
}

.newsletter-wrapper{
  margin-top: 40px;
}
div.article {
  background-image: url("..img/index.html/blog1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background: #999999;
  border-radius: 10px;

    }
div.newsletter-wrapper {
  background-image: url("..img/index.html/blog2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background: #999999;
  border-radius: 10px;
    }
.map {
  display: flex;
  width: 1200px;
  height: 431px;
  background-image: url("..img/index.html/map.png");
  background-size: 100%;
  background: #999999;
  margin: auto;
  margin-top: 20px;
  justify-content: flex-end; 
}
.map-description{ 
  width: 273px;
  height: 275px;
  background: #fffefc;
  border-radius:5px;
  justify-content: flex-end;
  margin-right: 27px;
  margin-top: 63px;
  padding-left: 27px;
  padding-top: 32px; 
}

.main-footer .container  {
  display: flex;
  list-style: none;
  width: 70%;
  margin: auto;
  justify-content: space-between; 
}

.main-footer {
align-items: center;
}

.social-block {
  list-style: none;
  width: 200px;
}
.footer-navigation {
  list-style: none;
  display:flex;
  justify-content: flex-start;
  width: 320px;
  flex-wrap: wrap;
  text-decoration: none;
  font-weight: 400px;
  font-size: 13px;
  line-height: 16px;
  color:#fff;
  padding-left: 20px;
}

.footer-author
  {
  width: 320px;
  font-size: 13px;
  line-height: 16px;
  flex-wrap: nowrap;
  padding-left: 0px;
  vertical-align: center;
}

.btn-navigation,
.btn-navigation-link
  {
 color:#fff;
 width: 150px;
 padding-top: 5px;
 padding-left:20px;
 padding-bottom: 10px; 
 text-decoration: none;
 
}
.btn-navigation-link
{
padding-left: 30px;
}










